[Unit]
Description=Start {{ rdp_service }} (RDP)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl start {{ rdp_service }}.service
RemainAfterExit=no
